.box-input-chenge-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.box-input-chenge-pass .box-position {
    position: relative;
}
.box-input-chenge-pass .box-position input {
    height: 3rem;
    width: 22rem;
    text-align: center;
    border: 0.1rem solid var(--gray);
    border-radius: 0.8rem;
    outline: none;
    padding: 0 3rem;
}
.box-input-chenge-pass .box-position input::placeholder {
    font-weight: 400;
}
.box-input-chenge-pass .btn-show-pass {
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 222, 179, 0);
    border: none;
    cursor: pointer;
}
.box-input-chenge-pass p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 0.5rem;
}