.chat {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6rem;
}
.chat .main .chat-content::-webkit-scrollbar {
    -webkit-appearance: none;
}
.chat .main .chat-content::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 4px solid var(--geen-font);
}
.chat .main .chat-loader {
    height: calc(100vh - 14rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat .box {
    width: 60%;
    height: 60%;
    align-self: center;
    justify-self: center;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 3rem;
}
.chat .box .image {
    justify-self: center;
    width: 90%;
    height: 90%;
}
.chat .box h1 {
    text-align: center;
}