.form-layout {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
body::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--white);   
}
body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 1rem;
}

.form-layout .box-form {
    width: calc(100% - 1rem);
    max-width: 120rem;
    margin: auto;
    padding: 2rem 0;
}
.form-layout .box-form .box-ilustration {
    width: 100%;
    height: 25rem;
    display: flex;
}
.form-layout .box-form .box-ilustration img {
    width: 85%;
    height: 85%;
    margin: auto;
}
@media(min-width: 850px) {
    .form-layout .box-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-layout .box-form .box-ilustration {
        height: 100%;
    }
}